* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app-title {
  font-size: 5rem;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 1.9rem;
}

.container {
  /* padding-top: 100px; */
  justify-content: center;
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-template-rows: 15rem 15rem 15rem auto;
  gap: 1rem;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  background-color: rgb(57, 218, 175);
  z-index: 1;
}

/* .cover {
  background-color: blueviolet;
  height: 50px;
  width: 50px;
  top: -50px;
  grid-area: 1 / 1 / span 3 / span 3;
  z-index: 2;
  opacity: 0.2;
} */

.grid:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.grid:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.yellow {
  background-color: rgb(245, 225, 0);
}

.red {
  background-color: rgb(205, 4, 4);
}
