* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app-title {
  font-size: 5rem;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 1.9rem;
}

.app {
  /* padding-top: 100px; */
  justify-content: center;
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  grid-template-rows: 15rem 15rem 15rem;
  gap: 1rem;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  background-color: rgb(57, 218, 111);
}
